.contact{
    margin: auto;
    background-color: white;
    height: 720px;
    width: 1100px;
    border: 2px solid black;
    border-radius: 23px;
    margin-bottom: 30px;
    overflow: hidden;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:orange;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    height: 80px;
}
.head h3{
    color: white;
    text-align: center;
    font-size: 35px;
}
.form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    font-size: 30px;
}
#btn{
    margin-top: 20px;
    padding: 20px 60px;
    border-radius: 12px;
    font-size: 20px;
}
#btn:hover{
    background-color: black;
    color: yellow;
    font-size: 20px;
}
#name{
    margin-left: 50px;
    padding: 10px 450px;
    padding-left: 10px;
    font-size: 25px;

}
#email{
    margin-left: 12px;
    padding: 10px 450px;
    padding-left: 10px;
    font-size: 25px;

}
#mobilenumber{
    margin-left: 4px;
    padding: 10px 450px;
    padding-left: 10px;
    font-size: 25px;

}
#message{
    font-size: 25px;
}

