.main-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: white;
    height: 75px;
    box-shadow:  0px 0px 15px 0px; ;
    margin-bottom: 20px;
}
.logo{
display: flex;
justify-content: center;
align-items: center;
}
.logo img{
height: 35px;
}
.menu{
display: flex;
justify-content: center;
align-items: center;
}
.menu ul li{
list-style: none;
float: left;
padding-left: 35px;
overflow-y: hidden;
}
.menu ul li a{
text-decoration: none;
font-size: 19px;
color: black;
padding: 130px 10px;
border-radius: 12px;

}
.menu ul li a:hover{
background-color: black;
color: yellow;
padding: 30px 10px;
border-radius: 12px;
}
.menu ul li a:active{
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-box input[type=search]{
    padding-right:60px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    margin-right: 15px;
}
.search-box input[type=submit]{
    padding: 10px 20px;
    border-radius: 8px;
}
